html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html, body, #__next {
    height: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

.loading {
    background: linear-gradient( 90deg,#e6e6e6, #ffffff,#e6e6e6, #ffffff );
    background-size: 300% 300%;
    animation: gradient 1s linear infinite;
}

@keyframes gradient {
    0% {
        background-position: 100% 50%;
    }
    /* 50% {
        background-position: 100% 50%;
    } */
    100% {
        /* background-position: 0% 50%; */
        background-position: 0% 50%;
    }
}