/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

@layer base {
    button:focus, a:focus, input:focus {
        outline: none;
    }

    sub {
        bottom: 0;
    }

}

@layer utilities {
    .color-transition {
        @apply transition-colors duration-150 ease-linear;
    }
    
    .shadow-transition {
        @apply transition-shadow duration-150 ease-linear;
    }
    
    .opacity-transition {
        @apply transition-opacity duration-150 ease-linear;
    }
    
    .transform-transition {
        @apply transition-transform duration-150 ease-linear;
    }
    
    .all-transition {
        @apply transition-all duration-150 ease-linear;
    }

    .fill-content-d {
        min-height: calc(100% - 80px);
    }
    
    .fill-content-m {
        min-height: calc(100% - 64px);
    }
}